@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
.roboto {font-family: 'Roboto', sans-serif;}
.majormono {font-family: 'Major Mono Display', monospace;}

body{ height:100vh; margin:0; }
div {display: block;}



.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container {
}
@media (min-width: 1200px)
.container {
    max-width: 1140px;
}
@media (min-width: 992px)
.container {
    max-width: 960px;
}
@media (min-width: 768px)
.container {
    max-width: 720px;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.navbar {
    background-color: rgba(0,0,0,0.8) !important;
    max-height: 65px;
	font-family: 'Major Mono Display', monospace;
}

@media (max-width: 1000px) {

      .navbar {
            max-height: 1000px;
       }

}

.navbar-collapse:active {
	background-color: rgba(0,0,0,0.8);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0.7rem 0 0;
    font-size: 1rem;
    color: black;
    text-align: left;
    list-style: none;
    background-color: rgba(0,0,0,0.8);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-toggle::after {margin-left: 0 !important;}

.footer {
	display: block;
	position:absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0,0,0,0.8);
	font-family: 'Major Mono Display', monospace;
    max-height: 65px;
}

.container2 {max-width:95% !important;}
.containerimg {max-width:70% !important; margin-bottom:30px;}

main {margin-top:20px;}

.container3 {
	max-width:75% !important;
    padding-right: 15px;
    padding-left: 15px;
}

ul {list-style-type: circle;}
.li {list-style-type: none;}
.a {
  background-color: #D0EDF7;
  color: black;
}
.au {
  background-color: #D0EDF7;
  color: black;
  text-decoration: underline;
}
.aug {
  background-color: #D0EDF7;
  color: black;
  font-weight: bold;
}
.ay {
  background-color: #F2F3E2;
  color: black;
  text-decoration: underline;
}
.ared {
  background-color: #FBE5EF;
  color: black;
  text-decoration: underline;
}
.av {
  background-color: #bac9f3;
  color: black;
  text-decoration: underline;
}
.b {
	background-color: #E5FBF1;
	color:black;
}
.i {
  background-color: #bac9f3;
  color: black;
}
.btn-focal {
	background-color: rgba(0,0,0,0.7) !important;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	border-color: #343a40;
	color: white;
}
.btn-focal:hover {
	background-color:  hsl(0, 0%, 77%) !important;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	color: black;
	border-color:  hsl(0, 0%, 80%);
}
.btn-pressed {
  border-color: hsl(0, 0%, 69%);
  background-image: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 77%));
  box-shadow: inset 0 3px 5px 1px hsl(0, 0%, 44%);
}


p, li {text-align: justify;}

/*Floating Back-To-Top Button*/
    #myBtn {
        position: fixed;
        bottom: 1.5%;
        float: right;
        right: 13%;
        left: 87%;
        max-width: 120px;
        width: 100%;
        font-size: 14px;
        border-color: rgba(220,220,220,0.7);
        background-color: rgba(255,255,255,0.7);
        padding: 7px;
        border-radius: 3px;
		z-index: 3;
    }
	
	@media only screen and (max-width: 600px) {
  #myBtn {
    left: 2% !important;
  }
}
	
/*On Hover Color Change*/
    #myBtn:hover {
        background-color: rgba(0,0,0,0.8);
		  border-color: black;
		  color: white !important;
    }
	
#myBtnletters {
color: black; 
}

#myBtnletters:hover {
color: white; 
}


	

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 0px 40px;
}

.container-slider-btn {
	min-width: 100%;
    margin-right: auto;
    margin-left: auto;	
	background-color: #323232
}

.btn-slider {
	margin: 3rem 0.2rem;
    position: relative;
    padding: 10px;
	font-size: 1rem;	
	font-family: "Roboto";
	background-color:  hsl(0, 0%, 77%) !important;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	color: black;
	border-color:  hsl(0, 0%, 80%);	
}

.btn-slider:hover {
  border-color: hsl(0, 0%, 69%);
  background-image: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 77%));
  box-shadow: inset 0 3px 5px 1px hsl(0, 0%, 44%);
  color: white;
  border-color: #343a40;
}

.switch { margin: 1.5rem; }

.specchio-dx {
	background-color: #F8F9FA; 
	border: solid 1px hsl(0, 0%, 70%); 
	border-bottom:transparent; 
	padding: 25px; 
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px;"
}
.specchio-dx-2 {
	background-color: #F8F9FA; 
	border: solid 1px hsl(0, 0%, 70%); 
	border-top: dashed 1px hsl(0, 0%, 70%); 
	border-bottom: transparent; 
	padding: 25px;
}
.specchio-dx-3 {
	background-color: #F8F9FA; 
	border: solid 1px hsl(0, 0%, 70%); 
	border-top: dashed 1px hsl(0, 0%, 70%); 
	padding: 25px; 
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px;
}

.specchio-sx {
	background-color: #F8F9FA;
	padding: 25px; 
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px;
}
/*
.slider > a {
    display: inline-flex;
	background-color: rgba(0,0,0,0.7) !important;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 2.5px;
    margin: 1rem 0.2rem 1.5rem 0.2rem;
    position: relative;
    padding: 10px;
    font-family: 'Roboto';
    color: white;
}
.slider > a:hover {
    background: #8fd4ec !important;
	color:black !important;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #15617b;
  color:white;
}
*/

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  min-height: fit-content;
  margin-right: 50px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
}
.slides > div:target {
/*   transform: scale(0.8); */
}


.sliderindividual > a {
    display: inline-flex;
	background-color: #bac9f3 !important;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 2.5px;
    margin: 1rem 0.2rem 1.5rem 0.2rem;
    position: relative;
    padding: 10px;
    font-family: 'Roboto';
    color: black;
}
.sliderindividual > a:hover {
    background: #1a3b97 !important;
	color:white !important;
}
.sliderindividual > a:active {
  top: 1px;
    
}
.sliderindividual > a:focus {
  background: #15617b;
  color:white !important;
}

.title {
padding: 10px 0px 10px 0px;
background-color: #F8F9FA !important;
text-decoration: underline;
color: black;
font-weight: 200;
margin: 10px 0px !important; 
font-size:42px;
font-family: 'Major Mono Display', monospace;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}

.sparql {
	font-family: "Courier New";
	margin: 0;
	padding: 12px 0px 0px 10px;	
}

.result {
	padding: 0px 10px 10px 0px;
	margin: 0;
}

.screenplay {
	font-family: "Courier New";
	background-color: white;
	padding: 70px;
	margin: 10px;
	border: 1px solid black;
}

.screenplay > p {
	margin-bottom: 1rem;
}
.name {text-align:center; margin-bottom: 0 !important; margin-top: 1rem;}
.indentscreenplay {text-indent:170px; margin-bottom: 0 !important;}
.poppy {color: black;}
.poppy:hover {  background-color: crimson; color: white !important;}
.poppyfoaf {color: black;}
.poppyfoaf:hover {  background-color: #FBE5EF; color: black !important;}
.poppyskos {color: black;}
.poppyskos:hover {  background-color: #D0EDF7; color: black !important;}
	
thead {color: white; background-color: #323232;}